@import '../../index.scss';

#background {
  display: grid;
  grid-template-columns: 4rem 6rem auto 4rem;

  height: $toolbarHeight;
  background-color: #4d4d4d;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  color: #e6e6e6;

  z-index: 5;

  #icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  #where {
    display: flex;
    align-items: center;
  }

  #center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #profile {
    display: flex;
    align-items: center;
  }
}